@page
@model Scripts.DbDelete

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <title>Deleting...</title>
  </head>

  <body>
    <div class="container">
      @await Html.PartialAsync("_LogoPartialView")
      <h2>Deleting...</h2>
      @await Html.PartialAsync("_DeletionAnimationPartialView")
    </div>
  </body>

  <style>
  :root {
  --text-font-family: "Arimo", Arial, sans-serif;
  --background-color: #d0d0d0;
  --brand-accent-color: #0199ca;
  --box-border-radius:0.5rem;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
      font-family: var(--text-font-family);
      display: grid;
      place-items: center;
      height: 100vh;
      background-color: var(--background-color);
  }
  .container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: clamp(300px, 50%, 600px);
      min-height: 30%;
      padding: 1rem 2rem;
      background-color: #fff;
      border-radius: var(--box-border-radius);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
  }
  </style>
  <script>
      setTimeout(function() {
      window.location.href = "../Panel";
        }, 3000);
  </script>
</html>
