
root = true

[*.{cs,vb,csx,cake}]
indent_style = space
indent_size = 2
insert_final_newline = false
dotnet_diagnostic.CA1822.severity = none

# Formatting Options
[*.{cs,vb,csx,cake}]


csharp_new_line_before_open_brace = none
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
