<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<section id="branding-section">
  <img  id="store-logo" src="~/Resources/img/vinyl_logo.png" alt="Chinook Music Store Logo">
  <h1><span>Chinook</span> Music Store</h1>
  <h3>Album Managament System</h3>
</section>

<style>
#branding-section {
  --logo-font-family: "Lobster", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  text-wrap: nowrap;

    h1 {
    font-family: var(--logo-font-family);
    }

    h1 span {
      color: var(--brand-accent-color);
    }

    h3 { 
  text-align: center;
    font-size: 0.8rem;
  }

    img {
      align-self: center;
      width: 8rem;
    }
  }

</style>
